.App {
  text-align: center;
}

.main{
  background-color: #50586C;
  font-family: Gotham;
  color: #DCE2F0;
};


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 3em;
}

.card{
  flex:1;
  padding:10px;
  max-height: 200px;
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: #50586C;
  border-radius:10px;
  border-width: 5px;
  border-style: solid;
  border-color: #DCE2F0;
  text-align:center;
}

