
.main{
  background-color: #50586C;
  font-family: Gotham;
  color: #DCE2F0;
};


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 3em;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
  background-color: white;
  color: #50586C;
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: cover; 
  display: block;
  border-radius: 5px; 
}

.carddesc {
  padding: 2px 16px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
