.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 5px;
    font-family: 'Scope One';

  }

  .navbar-left {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
  }
  
  .navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size:2rem;
    font-family: 'Scope One';
  }
  
  .navbar-center .nav-links li {
    margin-right: 1rem;
  }
  
  .navbar-center .nav-links a {
    color: #cccccc;
    text-decoration: none;
    padding: 5px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
  }


  .navbar-center .nav-links a:hover{
    color:#ffffff;
    transition:0.5s;
  }
  

  .logo{
    max-width: fit-content;
    color: white;
    font-size: 2rem;
  }